/* Styles pour mobiles (par défaut) */

.footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* Ajout de cette propriété */
    box-shadow: 10px 10px 10px 10px black;
    flex-direction: column;
}

/* Styles pour tablettes */

@media screen and (min-width: 600px) {
    .footer-content {
        flex-direction: row;
    }
}

/* Styles pour écrans de taille moyenne */

@media screen and (min-width: 768px) {
    /* Ajoutez des styles spécifiques pour les écrans de taille moyenne si nécessaire */
}

/* Styles pour écrans de bureau */

@media screen and (min-width: 1024px) {
    /* Ajoutez des styles spécifiques pour les écrans de bureau si nécessaire */
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
}
